src/main/mule/rapidapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f320cb39-f309-410b-8752-f7ed48373012" >
		<http:listener-connection host="0.0.0.0" port="8081">
		</http:listener-connection>
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="aa25fe5a-82df-426f-af6c-a5298120b182" >
		<http:request-connection host="free-nba.p.rapidapi.com" port="443" protocol="HTTPS"/>
	</http:request-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="421e5984-02a1-4281-b8d7-0ea5aefca485" >
		<file:connection workingDir="C:\Users\Karolina\AnypointStudio\studio-workspace\rapidapi" />
	</file:config>
	<flow name="rapidapiGames" doc:id="e69293db-0db5-48f3-929c-5dfc75c93b6b" >
		<http:listener doc:name="apiListener" doc:id="38e4c5bb-1fac-4e0b-981f-f3d1148d5d0f" config-ref="HTTP_Listener_config" path="/games"/>
		<http:request method="GET" doc:name="Request" doc:id="b8a58f64-e1b3-4dd5-a872-51b0473e165c" config-ref="HTTP_Request_configuration" path="/games">
			<http:headers ><![CDATA[#[output application/json
---
{
		"x-rapidapi-host": "free-nba.p.rapidapi.com",
	    "x-rapidapi-key": "eeb21910e9mshac74d997c98bb3dp1fe4fdjsn0dfe24043309",
	"accept": "application/json"
}]]]></http:headers>
		</http:request>
		<file:write doc:name="WriteToFile" doc:id="522b8101-30ba-4b3d-bd16-73d42955f66d" path="kipson.txt" config-ref="File_Config">
			<file:content ><![CDATA[#[payload.data]]]></file:content>
		</file:write>
	</flow>
</mule>
